.button-circle {
  border: 1px solid #6ACAB7 !important;
  border-radius: 50%;
  background: transparent;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &:hover {
    border-color: rgba(106, 202, 183, 0.8) !important;
    box-shadow: 0 0 10px rgba(106, 202, 183, 0.3);
  }
  
  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(106, 202, 183, 0.5);
  }

  &.small {
    width: 28px;
    height: 28px;
  }

  &.medium {
    width: 32px;
    height: 32px;
  }

  &.large {
    width: 36px;
    height: 36px;
  }
}
