.navbar {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: $nav-width;
  box-shadow: 0 0 10px rgba(106, 202, 183, 0.5);
  border-right: 1px solid rgba(106, 202, 183, 0.5);

  @include themeGen() {
    background-color: getThemeVal('backgroundSecondary');
  }

  hr.top {
    margin: 5px 0 16px 0;
  }

  .scrollable-content {
    display: flex;
    flex-direction: column;
    overflow: auto;

    hr.bottom {
      margin: 10px 0 18px 0;
    }
  }
}

@media (max-width: $media-max-width-tablet) {
  .navbar {
    display: none;
  }
}
